{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'ecan/stylesheets/pygment_trac.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'ecan/stylesheets/print.css' %}" media="print">
    <link rel="stylesheet" type="text/css" href="{% static 'ecan/stylesheets/stylesheet.css' %}" media="screen">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Preview</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Ecan Preview</h1>
        <h2></h2>
        <a href="https://github.com/JuanSanMedina/ecan_recognition" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

<img src="{{ STATIC_URL }}/{{ sample.im }}"
alt= "{{ STATIC_URL }}" width="540" height="380"/>

<h3><a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to ecan image preview</h3>

<p>To get a new preview run:</p>

<pre><code>$ python manage.py runserver 128.122.72.105:8000
$ workon ecan
</code></pre>

<p>Then run on RPI:</p>

<pre><code>$ workon ecan
$ cd ecan_recognition
$ sudo /home/pi/Envs/ecan/bin/python interface.py
$ take_preview
</code></pre>


<!--
<p>You can <a href="https://github.com/blog/821" class="user-mention">@mention</a> a GitHub username to generate a link to their profile. The resulting <code>&lt;a&gt;</code> element will link to the contributor's GitHub Profile. For example: In 2007, Chris Wanstrath (<a href="https://github.com/defunkt" class="user-mention">@defunkt</a>), PJ Hyett (<a href="https://github.com/pjhyett" class="user-mention">@pjhyett</a>), and Tom Preston-Werner (<a href="https://github.com/mojombo" class="user-mention">@mojombo</a>) founded GitHub.</p> -->

<!-- <h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>Having trouble with Pages? Check out the documentation at <a href="https://help.github.com/pages">https://help.github.com/pages</a> or contact <a href="mailto:support@github.com">support@github.com</a> and we’ll help you sort it out.</p> -->

</section>

        <aside id="sidebar">
          <a href="https://github.com/JuanSanMedina/ecan_recognition/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/JuanSanMedina/ecan_recognition/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/JuanSanMedina/ecan_recognition"></a> this project is maintained by <a href="https://github.com/JuanSanMedina">JuanSanMedina</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>


  </body>
</html>
