{% load staticfiles %}
<html prefix="og: http://ogp.me/ns#">
  <head>
    <!-- open graph protocol : http://ogp.me/ -->
    <title>Juan S. Medina-Martínez</title>
    <meta property="og:title" content="Juan S. Medina-Martínez" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="http://jsmedmar.github.io/index.html" />
    <meta property="og:image" content="images/cl1.png" />
    <!-- github original settings -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Juan S. Medina-Martínez</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- Icon -->
    <link rel="shortcut icon" href="images/imico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/imico/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="images/imico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/imico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/imico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/imico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/imico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/imico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/imico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/imico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/imico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/imico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/imico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/imico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/imico/favicon-16x16.png">
    <link rel="manifest" href="images/imico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/imico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <center><img src="images/github_profile.png" height="180" width="180" align="top|middle"></center>
        <h1 align="center"><br>Automated Solid Waste Classification</h1>

        <p class="view" align="center"><a href="./publications.html"> Publications </a></p>
        <!-- <p class="view"><a href="./links.html"> Links </a></p> -->
        <p class="view" align="center"><a href="https://github.com/jsmedmar">GitHub Profile</a></p>
        <p class="view" align="center"><a href="https://www.linkedin.com/in/jsmedmar">LinkedIn Profile</a></p>

      </header>
      <section>

<img src="{{ STATIC_URL }}/{{ sample.im }}"
alt= "{{ STATIC_URL }}" width="540" height="380"/>

      </section>
  </body>
</html>
